# STM32CubeIDE файлы
.cproject
.project
.settings/
Debug/
Release/
*.launch
.osx.*
.osx

# Бинарники
*.bin
*.hex
*.elf
*.map
*.o
*.a
*.d
*.lst
*.out

# Файлы IDE
.vscode/
.idea/
cmake-build-dubug/
cmake-build-debug/
cmake-build-dubug/*
.DS_Store
.stm32env
STM32-for-VSCode.config.yaml
STM32Make.make
openocd.cfg
